<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<security:http auto-config="true" use-expressions="false" disable-url-rewriting="false">
		<security:intercept-url pattern="/foo/hi" access="ROLE_USER"/>
		<security:intercept-url pattern="/user/**" access="ROLE_USER"/>
		<security:form-login login-page="/user_login" default-target-url="/user/index" />
	</security:http>


	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userDetailsService" >
		<!-- 
			<security:user-service>
				<security:user name="user" password="123" authorities="USER"  />
			</security:user-service>
		-->
		</security:authentication-provider>
	</security:authentication-manager>

	 
</beans>
