<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- 定义独立的http元素，无security filter chain. 
	<security:http pattern="/css/**" security="none"/>
	<security:http pattern="/member_login*" security="none"/>
	-->
	
	<security:http auto-config="false" use-expressions="false" disable-url-rewriting="false"
		access-decision-manager-ref="accessDecisionManager" >
		<security:intercept-url pattern="/foo/hi" access="ROLE_ADMIN"/>
		<security:intercept-url pattern="/user/**" access="ROLE_USER"/>
		<!-- <security:intercept-url pattern="/**" access="ROLE_USER"/>  -->
		<security:form-login login-page="/user_login" default-target-url="/user/index" />
		<security:logout />
		
		<security:session-management>
			<!-- 自动踢出第一个用户，或 不允许重复登陆 error-if-maximum-exceeded="true" -->
			<security:concurrency-control max-sessions="1" />
		</security:session-management>
	</security:http>


	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userDetailsService" >
		<!-- 
			<security:user-service>
				<security:user name="user" password="123" authorities="USER"  />
			</security:user-service>
		-->
		</security:authentication-provider>
	</security:authentication-manager>

	<bean id="accessDecisionManager"
		class="org.springframework.security.access.vote.AffirmativeBased">
		<constructor-arg>
			<list>
				<ref bean="roleVoter" />
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="roleVoter"
		class="org.springframework.security.access.vote.RoleHierarchyVoter">
		<constructor-arg>
			<bean
				class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
				<property name="hierarchy">
					<value>
						ROLE_ADMIN > ROLE_USER
						ROLE_USER > ROLE_GUEST
					</value>
				</property>
			</bean>
		</constructor-arg>
	</bean>

</beans>
